#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "arial";
}

body {
  /* background: linear-gradient(to right, blueviolet, violet) */
  background-color: blueviolet;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  line-height: 0.5rem;
}

.btn-letters {
  width: 500px;
  margin: 0 auto;
}

button {
  margin: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.7rem 1.2rem;
  background-color: blue;
  border-color: white;
  border-radius: 5px;
  color: white;
  transition: all ease 0.2s;
  border: none;
}

button:hover {
  background-color: rgb(5, 5, 165);
  
}

button:active {
  background-color: black;
}

.btn-again {
  background-color: rgb(5, 5, 165);
  font-size: 0.8rem;
  font-weight: bold;
  transition: all ease 0.2s;
}

.btn-again:hover {
  background-color: blue;
}

.btn-again:active {
  background-color: black;
}


